<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/">Dating App</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
            <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/message" routerLinkActive="active">Messages</a>
            </li>
        </ng-container>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/error" routerLinkActive="active">Errors</a>
            </li>
        </ul>

        <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">
            <input name="username" [(ngModel)]="formData.username" class="form-control form-control-sm me-2" type="text"
                placeholder="Enter Username">

            <input name="password" [(ngModel)]="formData.password" class="form-control form-control-sm me-2"
                type="password" placeholder="Enter Password">
            <button class="btn btn-outline-success bg-success text-white" type="submit">Search</button>
        </form>

        <div class="dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
            <a id="basic-link" dropdownToggle class="dropdown-toogle text-light text-decoration-none">Welcome User</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                <li><a class="dropdown-item" routerLink="/member/edit">Edit Profile</a></li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
        </div>


        
    </div>

</nav>